@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

#mainwrapper{
	width:1000px;
	height:1000px;
	margin:0 auto;
	margin-top:20px;
}

.ulwrapper{
	width:800px;
	height:220px;
	position:absolute;
}

.ulwrapper ul{
	list-style:none;
	width:800px;
	margin-left:100px;
}

.contentstyle{
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	display:block;
	width:200px;
}

.contentstyle p{
	width:170px;
	height:60px;
	margin-right:10px;
	text-align:center;
	vertical-align:middle;
	padding:15px 5px;
	margin-top:10px;
}
.contentstyle p a:link{
	text-decoration:none;
	color:#000;
}

.contentstyle p a:hover{
	text-decoration:underline;
	color:#ffa631;
}

.contentstyle p a:visited{
	text-decoration:none;
	color:#424c50;
}