@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
#wrapper{
	height:100%;
	width:1040px;
	margin:0 auto;
}

body hr{
	 height:8px;
	 border:none;
	 border-top:8px double black;
}
#information{
	margin:0 auto;
	width:1040px;
	height:40px;
	margin-left:100px;
	position:relative;
}
#information li{
	margin-top:10px;
	height:40px;
	width:120px;
	display:block;
	font-size:18px;
	font-weight:bold;
	list-style:none;
	float:left;
	text-align:center;
	overflow:hidden;
}
#copyright{
	margin:0 auto;
	width:1040px;
	height:40px;
	margin-left:100px;
	padding:0;
	position:relative;
	top:20px;
}

#copyright span{
	margin-left:10px;
}
	