@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding: 0;
}
a:link{
	text-decoration: none;
	color: inherit;
}
a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

a:hover{
	text-decoration:underline;
	color:#FF0;
}

.login a:visited{
	color:#ffffff;
	text-decoration:none;
}

.list_common{
	list-style: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial,"Microsoft YaHei","微软雅黑","Verdana",sans-serif,STXihei,"华文细黑";
	letter-spacing: 1px;
	float: left;
	display: block;
}	

#headerbg{
	height: 195px;
	width: 895px;
	background-color: #000000;
	margin: 0 auto;
}
#headerupper{
	position: relative;
	top: 4%;
	left: 5%;
	width: 95%;
	height: 10%;
}
#languages{
	text-align: right;
	margin-left: 81%;
}
#headercenter{
	padding-left: 5%;
	margin-top: 2%;
	width: 95%;
	height: 60%;
}
#title{
	height: 100%;
	width: 55%;
}
.menus{
	font-family: Arial,"Microsoft YaHei","微软雅黑","Verdana",sans-serif,STXihei,"华文细黑";
	letter-spacing: 1px;
	height: 20%;
	width: 15%;
	display: block;
	text-align: center;
	vertical-align: bottom;
	padding-top: 2%;
	position: relative;
	left: 5%;
}