@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding: 0;
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration:underline;
	color:#FF0;
}

.login a:visited{
	color:#0CF;
	text-decoration:none;
}

.list_common{
	list-style: none;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial,"Microsoft YaHei","微软雅黑","Verdana",sans-serif,STXihei,"华文细黑";
	letter-spacing: 1px;
	float: left;
	display: block;
}	
#main{
	margin:0 auto;
	margin-top:5px;
	height: auto;
	width:895px;
}

#main_upper{
	width:895px;
	height:470px;
}

#images{
	float:left;
}

.flexslider{
	width:670px;
	height:400px;
}

.flexslider ul li img{
	width:670px;
	height:400px;
}

#featureddesigner{
	margin-left:685px;
	width:215px;
	height:447px;
}

#featureddesigner table{
	width:200px;
	font-family:"ModernNAP-Text",Georgia,"Times New Roman", Times,serif;
	font-size:18px;
	font-weight:normal;
	overflow:hidden;
}
#featureddesigner table td{
	height:79px;
	width:79px;
}
#featureddesigner table td div{
	margin:2px;
	height:79px;
	width:79px;
}
#main_center{
	width:895px;
	height:380px;
}
#videodiv{
	border:1px solid green;
	width:500px;
	height:380px;
	float:left;
}

h3{
	font-family:Arial,"Microsoft YaHei","微软雅黑","Verdana",sans-serif,STXihei,"华文细黑";
	letter-spacing: 1px;
	font-size:21px;
}

#videodiv hr{
		height:2px;
		border:none;
		border-top:2px ridge #000;
		margin-bottom:5px;
} 





#profilediv{
	margin-left:515px;
	border:1px solid purple;
	width:380px;
	height:380px;
}

#main_bottom h4{
	margin-left:15px;
}