@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

#main_wrapper{
	width:1000px;
	height:1000px;
	margin:0 auto;
}

#main_lower{
	margin-top:20px;
}

.newsheadImg{
	height:150px;
	width:250px;
}

#main_lower ul{
	list-style:none;
	margin-left:200px;
}

.tablestyle{
	width:660px;
	margin-bottom:20px;
}

.commonstyle{
	text-align:center;
	vertical-align:middle;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	padding:20px;
}

.commonstyle a:link{
	text-decoration:none;
	color:#000;
}

.commonstyle a:hover{
	text-decoration:underline;
	color:#ffa631;
}
.commonstyle a:visited{
	text-decoration:none;
	color:#ffffff;
}