@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
#wrap{
		width:800px;
		
	}

#contentwrapper{
	width:800px;
	margin:0 auto;
}

#menu{
	height:500px;
	width:150px;
	float:left;
	border:3px solid green;
}

#portratewrapper{
	position:relative;
	top:10px;
	height:500px;
	width:250px;
	float:left;
	display:block-inline;
}

#contwrapper{
	position:relative;
	float:right;
	height:auto;
	width:500px;
	padding:0;
	margin:0;
}

.portrate{
	height:250px;
	width:225px;
	margin:10px;
	margin-left:20px;
}
.tablecss{
	width:500px;
	margin-left:15px;
	margin-top:15px;
}

.label{
	width:300px
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	height:30px;
	padding:3px;
}

.label a:link{
	text-decoration:none;
	color:#000;
}

.label a:hover{
	text-decoration:underline;
	color:#ffa631;
}
.label a:visited{
	text-decoration:none;
	color:#424c50;
}
