@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

#mainwrapper{
	width:1000px;
	height:1000px;
	margin:0 auto;
	margin-top:20px;
}

.ulwrapper{
	width:800px;
	position:absolute;
}

.ulwrapper ul{
	list-style:none;
	width:800px;
	margin-left:100px;
}

.contentstyle{
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	margin-right:10px;
	width:180px;
}

.tablestyle{
	width:180px;
	height:250px;
	border:1px;
}
.imgstyle{
	width:180px;
	height:180px;
}
.imgstyle img{
	width:180px;
	height:180px;
}
	
.namestyle{
	height:50px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	width:180px;
	text-align:center;
	padding:5px;
}

.namestyle td a:link{
	text-decoration:none;
	color:#000;
}

.namestyle td a:hover{
	text-decoration:underline;
	color:#ffa631;
}

.namestyle td a:visited{
	text-decoration:none;
	color:#424c50;
}