<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<resource-ref>
		<description>MySQL data source by jndi</description>
		<res-ref-name>jdbc/fashion</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring_conf/applicationContext-*.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>fashion.root</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <filter> -->
	<!-- <filter-name>hibernateFilter</filter-name> -->
	<!-- <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class> -->
	<!-- <init-param> -->
	<!-- <param-name>singleSession</param-name> -->
	<!-- <param-value>false</param-value> -->
	<!-- </init-param> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>hibernateFilter</filter-name> -->
	<!-- <url-pattern>*</url-pattern> -->
	<!-- </filter-mapping> -->
	<!-- <filter> -->
	<!-- <filter-name>struts2</filter-name> -->
	<!-- <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>struts2</filter-name> -->
	<!-- <url-pattern>*.action</url-pattern> -->
	<!-- </filter-mapping> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>struts2</filter-name> -->
	<!-- <url-pattern>*.jsp</url-pattern> -->
	<!-- </filter-mapping> -->
	
<!--	<welcome-file-list>-->
<!--		<welcome-file>index.jsp</welcome-file>-->
<!--	</welcome-file-list>-->
	<!-- i18nFilter for struts2 -->
	<filter>
		<filter-name>i18nFilter</filter-name>
		<filter-class>com.zj.core.web.filter.I18nFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>i18nFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 登录用户过滤器 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.zj.core.web.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 编码过滤 -->

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.zj.core.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		 <filter-name>UrlRewriteFilter</filter-name>
		 <filter-class>
		   org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
		 </filter-class>
		<init-param>
                	<param-name>logLevel</param-name>
                	<param-value>DEBUG</param-value>
            	</init-param>
	</filter>
	 
	 <filter-mapping>
		 <filter-name>UrlRewriteFilter</filter-name>
		 <url-pattern>/*</url-pattern>
		 <dispatcher>REQUEST</dispatcher>  
		 <dispatcher>FORWARD</dispatcher>
	 </filter-mapping>

	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/ckfinder.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
		<init-param>
			<param-name>sessionCookieName</param-name>
			<param-value>JSESSIONID</param-value>
		</init-param>
		<init-param>
			<param-name>sessionParameterName</param-name>
			<param-value>jsessionid</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
	</filter-mapping>

	<!-- 404错误页面的配置 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/errorPage.jsp</location>
	</error-page>

	<!-- request监听器 -->
	<listener>
		<listener-class>com.zj.core.web.listener.RequestListener</listener-class>
	</listener>
	<!-- session监听器 -->
	<listener>
		<listener-class>com.zj.core.web.listener.SessionListener</listener-class>
	</listener>
	<!-- session超时设置 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>  
		  <dispatcher>INCLUDE </dispatcher>    
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 <dispatcher>FORWARD</dispatcher>  
		  <dispatcher>INCLUDE </dispatcher>    
	</filter-mapping>
<!--	<filter>-->
<!--		<filter-name>struts-cleanup</filter-name>-->
<!--		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>struts-cleanup</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->
</web-app>
